body {
    margin: 0;
    font-family: sans-serif;
  }
/*<!--エディター(画面全体)-->*/
  .editor {
    display: flex;
    width: 100vw;
    height: 100vh;
  }
/*ツールバー*/
  .toolbar {
    width: 250px;
    background: #009578;
  }
/*ツールバーアイテム*/
  .toolbar-item {
    padding: 15px;  /*間隔の確保*/
  }
/*ラベル(アイテムの名前)*/
  .tool-label {
    display: block;
    margin-bottom: 5px; /*ラベルとスライダーの間隔設定*/
    font-size: 14px;
    font-weight: bold;
  }
/*スライダー*/
  .tool-input {
    width: 100%;
  }
/*イメージエリア*/
  .image-area {
    flex-grow: 1; /*残りのスペースの確保*/
    padding: 20px; /*画像周辺の余白*/
    background: #555555;
  }
/*画像*/
  #canvas {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #009578;
  }
  